/* src/components/Header.css */
.header {
    display: flex;
    display: block;
    justify-content: space-between;
    padding: 30px 30px;
    background-color: #557942;
    color: #fff;
    font-size: 1.5em;
    margin-top: 0px;
}

#id1{
    padding-left: 400px;
}



